include requirements.txt
include api.yaml
recursive-include lcg/template/* *
recursive-include lcg/api/templates *
recursive-include lcg/api/static/*  *
recursive-include lcg/api/resources/json_models  *.json
