include requirements.txt
include api.yaml
recursive-include gcg/template/* *
recursive-include gcg/api/templates *
recursive-include gcg/api/static/*  *
recursive-include gcg/api/resources/json_models  *.json
