network:
  version: 2
  ethernets:
{% for interface in interfaces %}
    {{ interface.link_id }}:
        addresses:
{% for ip in interface.ipv4_addrs %}
            - {{ ip.address }}{{ ip.cidr }}
{% endfor %}
        gateway4: {{ interface.ipv4_gateway }}
        nameservers:
            search: [lab.local]
            addresses: [{% for ns in interface.nameservers %}{{  ns }},{% endfor %}]
{% endfor %}
