{# TODO: Add IPv6 routing support  #}
{# TODO: Add IPv6 address support, Add abililty to add mulitple IPv6 addresses to interface  #}
{# TODO: Add Login Banner  #}
{# TODO: Change all vars with options to use dict style variable access #}
enable
config t
hostname {{ hostname }}
!
no ip domain-lookup
!
{% if management %}
interface {{ management.link_id }}
 ip address {{ management.ip_address }} {{ management.netmask }}
{% endif %}
!
{% for interface in interfaces %}
interface {{ interface.link_id }}
 {% if interface.bandwidth %}
 bandwidth {{ interface.bandwidth }}000
 {% endif %}
 {% if interface.ipv6_addresses %}
 {% for ipv6_data in interface.ipv6_addresses  %}
 {% if ipv6_data.ipv6_address %}
 ipv6 address {{ ipv6_data.ipv6_address }}
 {% endif %}
 {% if ipv6_data.eui_64 %}
 ipv6 address {{ ipv6_data.eui_64 }} eui-64
 {% endif %}
 {% if ipv6_data.link_local %}
 ipv6 address {{ ipv6_data.link_local }} link-local
 {% endif %}
 {% if ipv6_data.anycast %}
 ipv6 address {{ ipv6_data.anycast }} anycast
 {% endif %}
 {% endfor %}
 {% endif %}
 description {{ interface.description }}
 ip address {{ interface.ip_address }} {{ interface.netmask }}
 no shutdown
!
{% endfor %}
line con 0
 exec-timeout 0 0
 logging synchronous
 stopbits 1
 exit
end
wr
