{# VFI Configurations #}
{% if  vfis%}
{% for ac in vfis %}
l2 vfi {{ ac.name }} manual
 vpn id {{ ac.vfi_id }}
{% for peer in ac.vfi_peers %}
 neighbor {{ peer.remote_addr }} encapsulation mpls
{% endfor %}
{% endfor %}
{% endif %}
!
{# Bridge Domain Configurations #}
{% if bridge_domains %}
{% for bd in bridge_domains %}
bridge-domain {{ bd.id }}
{% for member in bd.members %}
{% if member.member_type == 'ac' %}
 member {{ member.link_id }} service-instance {{ member.instance_id }}
{% endif %}
{% if member.member_type == 'vfi' %}
 member vfi {{ member.vfi_name }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
!
{# EFP Configurations #}
{% if efps %}
{% for ac in efps %}
interface {{ ac.link_id }}
 service instance {{ ac.instance_id }} ethernet
{% if ac.encapsulation.encap_type == "DOT1Q" %}
 encapsulation dot1q {{ ac.encapsulation.c_tag  }}
{% endif %}
!
{% endfor %}
{% endif %}
end

