<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../static/grid.css">
</head>
<body>
<div class="container">

    <div class="sidebar">
        <a href="">Home</a>
        <a href="">Labs</a>
        <a href="">Base Config</a>


    </div>
    <div class="data">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima quibusdam saepe tempore? Ab aliquid
        blanditiis consequuntur cum debitis, doloremque, dolorum ducimus ea, ex fugit inventore laborum magnam molestiae
        nulla quam quasi qui temporibus unde velit veritatis. A consequuntur excepturi fugiat in nemo quas rem repellat
        sequi ut voluptatem. At illo nesciunt nobis obcaecati saepe. Accusamus architecto aut autem, debitis, eos
        eveniet facere fugit incidunt iure laboriosam nam perferendis perspiciatis praesentium quod rem sed similique
        suscipit tenetur unde voluptates voluptatibus.
    </div>
</div>
</body>

</html>